/* Main page styles */

body {
  background-color: #a5dad2;
  margin: 0;
}

header {
  background-color: #7a7878;
  opacity: 1;
}

h1 { /* title */
   text-align: center;
   font-size: 36px;
   font-family: 'Arvo', serif;
   color: #a5dad2;
   background-color: #7a7878;
   padding: 10px;
   font-family: 'Arvo', serif;
   width: 100%;
   letter-spacing: 60px;
   margin: 0px;
}

p {
   text-align: center;
   font-size: 20px;
   font-family: 'Arvo', serif;
   line-height: 10pt;
   color: #7a7878;
   padding:10px;
   letter-spacing: 5px;
}

/* Main game board styling -would rather used 2D arrays in future instead of table */

td { /* Styles cells */
  cursor: pointer;
  height: 200px;
  width: 200px;
  text-align: center;
  font-family: sans-serif;
  font-size: 50pt;
  border: 2px solid #f1f2f2;
  text-transform: uppercase;
  background-color: #a5dad2;
}

.center { /*centers board - as I used a table and wanted to hide the outer boader */
   margin-right: auto;
   margin-left: auto;
}

.no-border-top {
  border-top: 0;
}

.no-border-left {
  border-left: 0;
}

.no-border-right {
  border-right: 0;
}

.no-border-bottom {
  border-bottom: 0;
}

.button {
   text-align: center;
}

.game-container { /* Keeps everything centered */
  position: relative;
  width: 90%;
  margin: 5%;
}

#board img { /* Image sizing */
  width: 150px;
  height: 150px;
}

#board { /* Keeps tiles centered */
  margin: 0 auto;
}

/* To make pusheens wobble (animation)*/

.win {
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: win;
  animation-duration: 2s;
}

@keyframes win {
    0%   {transform: rotate(0deg)}
    25%  {transform: rotate(20deg)}
    50%   {transform: rotate(0deg)}
    75%   {transform: rotate(-20deg)}
    100%  {transform: rotate(0deg)}
}

/* Players score boxes */

.player {
  display: inline-block;
  padding: 15px;
  color: #f1f2f2;
  font-size: 20px;
}

.player h4 {
  font-weight: bold;
  font-family: 'Arvo', serif;
  color: #7a7878;
  font-size: 20px;
}

#playerOneScore {
  position: absolute;
  left: 0;
  top: 0;
}

#playerTwoScore {
  position: absolute;
  right: 0;
  top: 0;
}

/* Players images */

#playerOneScore img, #playerTwoScore img {
  width: 100px;
  display: block;
}

.score-box, score-box {
  border: 3px solid #7a7878;
  padding: 30px;
  font-size: 50px;
  display: inline-block;
}

/* Pop up box appears only when player has won or else it is hidden */

#pop-up {
  display: none;
  position: fixed;
  z-index: 100;
  width: 60%;
  height: 30%;
  left: 18%;
  top: 18%;
  padding: 2%;
  background: rgba(255,255,255,.7);
}

/* message inside pop up box */

#pop-up p {
  line-height: normal;
  color: #7a7878;
  margin: 80px;
  text-align: center;
  font-size: 40px;
}

/* Reset button & Hover */

#reset {
  background: #7a7878;
  font-size: 18px;
  width: 150px;
  height: 42px;
  border-radius: 10px;
  color: #f1f2f2;
  cursor: pointer;
}

#reset:hover {
  color: #7a7878;
  background: #f1f2f2;
}
